.container {
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.slider1 {
  height: 160px !important;
  overflow: hidden;
  padding: 10px;
}

.slider1 ::ng-deep .rs-container {
  left: 50%;
  margin-left: -300px;
}

.slider1 ::ng-deep .rs-tooltip {
  top: 100px;
}

.slider2 ::ng-deep .rs-path-color {
  background-color: #939393;
}

.slider2 ::ng-deep .rs-handle {
  background-color: orange;
}

.slider ::ng-deep .rs-animation .rs-transition {
  transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}