<div class="container">
  <a href="https://roundsliderui.com/demos.html#custom-handle-shapes">Custom Handle Shapes</a>

  <p>The handle shapes are defined in the ".rs-handle" class. By customizing this class we can make different shapes of
    handle.

    The below examples shows the gauge like appearances.
  </p>

  <div class="wrapper">
    <ng-round-slider class="slider1" sliderType="min-range" circleShape="pie" handleShape="square" [handleSize]="0"
      [editableTooltip]="false" [width]="16" [radius]="105" [value]="75" [startAngle]="315"
      [tooltipFormat]="formatting1"></ng-round-slider>

    <ng-round-slider class="slider2" sliderType="min-range" circleShape="half-top" handleShape="square" [handleSize]="0"
      [showTooltip]="false" [radius]="130" [width]="16" [value]="75"></ng-round-slider>
  </div>
</div>