<div class="container">
  <a href="https://roundsliderui.com/demos.html#various-slider-types">Various Slider Types</a>

  <p>There are three types of sliders available such as default, min-range and range slider. The default and min-range
    sliders are the similar which is used to select a single value inbetween the min and max values. In case of range
    slider, it is used to selece a range of values.</p>

  <div class="wrapper">
    <ng-round-slider sliderType="default" [radius]="85" [value]="40"></ng-round-slider>

    <ng-round-slider sliderType="min-range" [radius]="85" [value]="40"></ng-round-slider>

    <ng-round-slider sliderType="range" value="10,40" [radius]="85"></ng-round-slider>
  </div>
</div>