<div class="container">
  <a href="https://roundsliderui.com/demos.html#different-theming-and-appearances">Different Theming and Appearances</a>

  <p>The following demos show that, in what are the ways we can customize the control. The below examples may provide an
    idea to make different look and feel.</p>

  <div class="wrapper">
    <ng-round-slider class="appearance1" sliderType="min-range" handleSize="24,12" handleShape="square" [radius]="80"
      [value]="40"></ng-round-slider>

    <ng-round-slider class="appearance2" sliderType="min-range" handleSize="+8" handleShape="dot" [width]="14"
      [radius]="80" [value]="40"></ng-round-slider>

    <ng-round-slider class="appearance3" sliderType="min-range" handleSize="+16" handleShape="dot" [width]="8"
      [radius]="80" [value]="65"></ng-round-slider>

    <ng-round-slider class="appearance4" sliderType="min-range" handleSize="+0" [width]="22" [radius]="80"
      [value]="55"></ng-round-slider>

    <ng-round-slider class="appearance5" sliderType="range" handleSize="+10" value="10,60" [width]="10"
      [radius]="90"></ng-round-slider>

    <ng-round-slider class="appearance6" sliderType="min-range" handleSize="+8" [width]="9" [radius]="80"
      [value]="40"></ng-round-slider>

    <ng-round-slider class="appearance7" sliderType="range" handleSize="+0" value="5,55" [width]="14"
      [radius]="90"></ng-round-slider>

    <ng-round-slider class="appearance8" handleShape="square" [handleSize]="16" [value]="29" [width]="0"
      [radius]="90"></ng-round-slider>
  </div>
</div>