<div class="container">
  <a href="https://roundsliderui.com/demos.html#various-circle-shapes">Various Circle Shapes</a>

  <p>The roundSlider not only means the complete round circle, it also supports the most commonly used circle shapes
    such as:</p>

  <ul>
    <li>Quarter Circle [ quarter-top-left, quarter-top-right, quarter-bottom-left, quarter-bottom-right ]</li>
    <li>Half Circle [ half-top, half-bottom, half-left, half-right ]</li>
    <li>Pie shape</li>
  </ul>

  <div class="wrapper">
    <ng-round-slider sliderType="min-range" circleShape="quarter-top-left" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="quarter-top-right" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="quarter-bottom-left" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="quarter-bottom-right" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="half-top" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="half-bottom" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="half-left" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="half-right" [showTooltip]="false" [radius]="80"
      [value]="50"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="pie" [showTooltip]="false" [radius]="80" [value]="50"
      [startAngle]="315"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="custom-half" [showTooltip]="false" [radius]="80" [value]="50"
      [startAngle]="315"></ng-round-slider>

    <ng-round-slider sliderType="min-range" circleShape="custom-quarter" [showTooltip]="false" [radius]="80"
      [value]="50" [startAngle]="315"></ng-round-slider>
  </div>
</div>